
{% extends 'base.html' %}

{% block title %}Error{% endblock %}

{% block css %}
<link href="{{ url_for('static', filename='memberOrError.css') }}" rel="stylesheet" type="text/css" media="all">
<!-- <link href="memberOrError.css" rel="stylesheet" type="text/css" media="all"> -->
{% endblock %}

{% block content %}
<div class="title">
    <div class="text">失敗頁面</div>
</div>
<div class="message">
    <div class="text">{{ message }}</div>
    <a href="/signout" method="GET">回首頁</a>
</div>
{% endblock %}
