
{% extends 'base.html' %}

{% block title %}Member{% endblock %}

{% block css %}
<link href="{{ url_for('static', filename='memberOrError.css') }}" rel="stylesheet" type="text/css" media="all">
<!-- <link href="memberOrError.css" rel="stylesheet" type="text/css" media="all"> -->
{% endblock %}

{% block content %}
<div class="title">
    <div class="text">歡迎光臨，這是會員頁</div>
</div>
<div class="message">
    <div class="text">{{ name }}，歡迎登入系統</div>
    <a href="/signout" method="GET">登出系統</a>
</div>
{% endblock %}
