<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member</title>
    <link href="{{ url_for('static', filename='memberOrError.css') }}" rel="stylesheet" type="text/css" media="all">
    <!-- <link href="memberOrError.css" rel="stylesheet" type="text/css" media="all"> -->
</head>
<body>
    <div class="title">
        <div class="text">歡迎光臨，這是會員頁</div>
    </div>
    <div class="message">
        <div class="text">{{ name }}，歡迎登入系統</div>
        <a href="/signout" method="GET">登出系統</a>
    </div>
</body>
</html>