body{
    font-size: 20px; background-color: ivory;
    margin: 0px; padding: 0px; 
}
nav{
    display: flex;
}
.title{
    flex: none; width: 150px;
    font-weight: bold;
    padding: 10px; 
}
.nothing{
    flex: auto;
}
.item{
    display: flex;
    flex: none; width: 300px;
    justify-content: flex-end;
    padding: 10px;  
}
.item-list{
    display: inline-block;
    text-align: right;
    margin-left: 20px;
}
.item-icon{
    display: none; 
    padding: 5px;
}
.myhome{
    font-size: 40px; text-align: center; line-height:300px;
    position: relative; left: 0px; top: 0px;
    height:300px; background-color: rgba(176, 247, 188, 0.979);
    margin: 0px;
}
.content{
    display: flex; justify-content: space-between;
    flex-wrap: wrap;
    width: 1200px; 
    margin-left: auto; margin-right: auto;
    margin-top: 25px;
}
.box{
    display: inline-flex;
    flex-wrap: wrap;
    width: 275px;
    padding: 5px; margin: 5px;
}
img{
    display: block;
    width: 275px; height: 200px; 
    text-align: center;
}
.box-image{
    width: 275px; height: 200px; 
    padding: 0px; margin: 0px auto; 
    text-align: center;
}
.box-text{
    width: 275px;height: 60px; 
    padding: 0px; margin: 0px auto;
    background-color: rgba(176, 247, 188, 0.979);
    text-align: center;
    line-height: 60px;
}
@media (max-width: 1200px) {
    .content{
        display: flex; justify-content: space-between;
        flex-wrap: wrap;
        width: 90%; 
        margin-left: auto; margin-right: auto;
    }
    .box{
        display: flex; justify-content: center;
        width: 45%;
    }
    img{
        display: block;
        width: 100%; height: 200px; 
        text-align: center;
    }
    .box-image{
        width: 100%; height: 200px; 
        padding: 0px; margin: 0px auto; 
        text-align: center;
    }
    .box-text{
        width: 100%; height: 45px; 
        padding: 0px; margin: 0px auto;
        background-color: rgba(176, 247, 188, 0.979);
        text-align: center;
        line-height: 45px;
    }
}
@media (max-width: 600px) {
    .item-list{
        display: none;
        text-align: right;
    }  
    .item-icon{
        display: flex; 
        position: relative; left: 0px; top: 0px;
        height: 20px; 
        width: 30px;
    }  
    .item-icon>img{
        height: 100%; 
        width: 100%;
    }
    .content{
        display: flex; justify-content: center;
        flex-wrap: wrap;
        width: 90%; 
        margin-left: auto; margin-right: auto;
    }
    .box{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    img{
        display: block;
        width: 100%; height: auto; 
        text-align: center;
    }
    .box-image{
        width: 100%; height: auto; 
        padding: 0px; margin: 0px auto; 
        text-align: center;
    }
    .box-text{
        width: 100%;height: 45px; 
        padding: 0px; margin: 0px auto;
        background-color: rgba(176, 247, 188, 0.979);
        text-align: center;
        line-height: 45px;
    }
}
